
<img class="logo" src="img/logo.png" alt="Logo AutoBus">

@if (!MostrarFotoCriarConta){
  <div class="box">

    <!--<header>AutoBus</header>-->
    <!-- <h1 class="logoTexto">AutoBus</h1> -->
    <!--<p class="logo"><h1 style="text-align: center;">AutoBus</h1></p>-->

    <h2>Novo Registo</h2>

    <form [formGroup]="FormCriar">

      <div class="row">
        <div class="column left">
          <!-- NOME -->
          <label><strong>Nome*</strong></label><br>
          <input type="text" formControlName="nome" style="padding-left:10px;" (input)="permitirApenasLetras($event)"
            required>
          <br><br>

          <!-- NIF -->
          <label><strong>NIF*</strong></label><br>
          <input type="tel" formControlName="nif" style="padding-left:10px;"
            title="O NIF deve conter 9 números e começar com 1, 2, 5, 6, 7 ou 9." inputmode="numeric" maxlength="9"
            placeholder="XXXXXXXXX" (keypress)="permitirApenasNumeros($event)" required>
          <br>
          @if (nif?.invalid && nif?.value){
            <label class="erro-campo">NIF Invalido</label>
          }
          <br>

          <!-- EMAIL -->
          <label><strong>E-mail*</strong></label><br>
          <input type="email" formControlName="email" style="padding-left:10px;"
            title="O email deve ser @gmail.com, @yahoo.com ou @hotmail.com" placeholder="exemplo@gmail.com" required>
          <br><br>

          <!-- PALAVRA-PASSE -->
          <label for=password><strong>Palavra-Passe*</strong></label><br>
          <input formControlName="password" class="campoTexto" style="padding-left:10px;"
            [type]="MostarPassword ? 'text' : 'password'"
            title="Deve conter pelo menos um número, uma letra maiúscula e pelo menos 8 ou mais caracteres" required>


          <button type="button" class="ver" (click)="MostarPassword = !MostarPassword">
            <img [src]="MostarPassword ? 'img/aberto.png' : 'img/fechado.png'" width="20px" height="20px">
          </button><br>
          <p>
            <strong>* Campo obrigatório.</strong>
          </p>
        </div>

        <div class="column right">

          <!-- DATA DE NASCIMENTO -->
          <label><strong>Data de Nascimento*</strong></label><br>
          <input type="date" formControlName="nascimento" style="padding-right:10px; padding-left:10px;"
            title="Tem de ser maior de 18 anos." (keypress)="permitirApenasNumeros($event)">
          <br><br>

          <!-- TELEMOVEL -->
          <label><strong>Telemóvel*</strong></label><br>
          <input type="tel" formControlName="telefone" style="padding-left:10px;"
            title="O número de telemóvel deve conter 9 números e deve iniciar com 9." maxlength="9"
            placeholder="9XXXXXXXX" (keypress)="permitirApenasNumeros($event)" required>
          <br>
          @if (telefone?.invalid && telefone?.value){
            <label class="erro-campo">O número de telemóvel deve conter 9 números e deve iniciar com 9.</label>
          }
          <br>

          <!-- LOCALIDADE -->
          <label><strong>Localidade*</strong></label><br>
          <input type="text" formControlName="localidade" style="padding-left:10px;" placeholder="Ex: Coimbra"
            (input)="permitirApenasLetras($event)" required>
          <br><br>

          <!-- CONFIRMAR PALAVRA-PASSE -->
          <label for=pass><strong>Confirmar palavra-passe*</strong></label><br>
          <input formControlName="confirm_password" style="padding-left:10px;"
            [type]="MostarConfirmacaoPassword ? 'text' : 'password'" required>
          <button type="button" class="ver" (click)="MostarConfirmacaoPassword = !MostarConfirmacaoPassword">
            <img [src]="MostarConfirmacaoPassword ? 'img/aberto.png' : 'img/fechado.png'" width="20px" height="20px">
          </button>


          @if (confirm_password?.hasError('PasswordNaoIgual') && confirm_password?.value){
            <br>
            <label class="erro-campo">As passwords nao condizem</label>
          }
        </div>
      </div>



      <div style="display:flex; justify-content: space-between; margin-right: 30px;">
        <a routerLink="/inicial">
          <button type="button" value="Voltar" class="botaoVoltar">Voltar</button>
        </a>

        <button type="button" class="botaoCriar" (click)="Avancar()"
          [disabled]="FormCriar.invalid || Avancando">Avançar</button><!--[disabled]="FormCriar.invalid"-->
      </div>

      <div id="popup" class="modal">
        <div class="modal-content">
          <!--<span class="close">&times;</span>-->
          <p>As palavras-passe não coincidem.</p>
          <p class="letra2">Clique em qualquer parte do ecrã para sair.</p>
        </div>
      </div>
    </form>
  </div>

  <!-- Mostar sempre que o valor nao e vazio -->
  @if (password?.value != ''){
    <div id="anchor">
      <div class="box2" id="messageBox">
        <h3>A palavra-passe deve conter pelo menos: </h3>
        <p id="letter" [className]="password?.hasError('minuscula') ? 'invalid' : 'valid'">
          Uma letra <b>minúscula</b>
        </p>
        <p id="capital" [className]="password?.hasError('maiuscula') ? 'invalid' : 'valid'">
          Uma letra <b>maiúscula</b>
        </p>
        <p id="number" [className]="password?.hasError('numero') ? 'invalid' : 'valid'">
          Um <b>número</b>
        </p>
        <p id="length" [className]="password?.hasError('caracteres') ? 'invalid' : 'valid'">
          Mínimo <b>8 caracteres</b>
        </p>
      </div>
      <br><br>
    </div>
  }
}

@if (MostrarFotoCriarConta){
  <div class="caixa">
    <div style="display: flex; justify-content: center; align-items: center;">
      <form [formGroup]="FormFoto" (ngSubmit)="EnviarCodigo()">
        <div style="display:flex; align-items: center; justify-content: space-between;">
          <!-- <a href="criarConta.php" style="text-decoration: none; color: white; padding-right: 20px;">
            <img class="imagemVolt" src="img/voltarr.png">
          </a> -->

          <h2 style="margin-left: 10px;">Foto de perfil</h2>

          <button class="btVoltar" (click)="MostrarFotoCriarConta = false">
            <img src="img/voltar.png" class="imagemVolt">
          </button>
        </div>             

        <br>

        <label style="margin-left: 70px;">Insira uma imagem para o teu perfil de utilizador!</label><br><br>

        <a>
          <img class='imagemUti' id='preview' [src]="ImagemSelecionada" onerror='this.src="img/default.png"'>
        </a><br>

        <div style="display:flex; justify-content: center; align-items: center;">
          <label for="file" class="file-label">Carregar imagem</label>
          <input type="file" accept="image/*" id="file" class="file-input" name="foto"
            (change)="ImagemMudada($event)"><br>

          <label class="file-label" style="margin-left: 10px;">Selecionar imagem
            <input type="button" class="file-input" (click)="SelecionarImagens = true"><br>
          </label>
        </div>


        <button type='submit' class="botaoCriarConta" style='margin-right: 250px; margin-left:5px'
          (click)="ModalCodigo = true">Alterar depois</button>


        <input type="submit" class="botaoCriarConta" (click)="ModalCodigo = true" value="Criar conta">

        <carregamento [Visivel]="ACriarConta"></carregamento>
      </form>
    </div>
  </div>
}

 

<modal-verificacao [Aberto]="ModalCodigo" (submetido)="VerificarConta($event) "></modal-verificacao>


<button style="background-color: transparent;" (click)="preencherFormComValoresAleatorios()">Preencher</button>

@if (SelecionarImagens) {
  <seletor-imagens (close)="SelecionarImagens = false" (imagemSelecionada)="PreverImagem($event)"></seletor-imagens>
}