

<form [formGroup]="FormPesquisa" (submit)="RedirecionarPesquisa()">
    <!-- Seletor de ida e ida e volta -->

    <div class="row" style="justify-content: space-between;">
        <div class="trip-type">
            <label class="radioestilo"><strong>Ida</strong>
                <input type="radio" formControlName="tipo_viagem" value="Ida" />
                <span class="checkmark"></span>
            </label>
            <label class="radioestilo"><strong>Ida e volta</strong>
                <input type="radio" formControlName="tipo_viagem" value="IdaVolta" />
                <span class="checkmark"></span>
            </label>
        </div>


        @if (PaginaViagens){
            <ng-container *ngTemplateOutlet="ButaoProcurar"></ng-container>
        }
    </div><br><br>

    <div class="row" style="gap:20px; padding-left: 40px;" [class.pagina-viagens]="PaginaViagens">
        <div class="campo">
            <label class="titulo-campo"><strong>Partida</strong></label>
            <div class="input-icon">
                <i>📍</i>
                <input type="text" placeholder="De: Braga" formControlName="local_partida" />
            </div>
        </div>

        <div class="campo">
            <label class="titulo-campo"><strong>Destino</strong></label>
            <div class="input-icon">
                <i>📍</i>
                <input type="text" placeholder="Para: Porto" formControlName="local_chegada"/>
            </div>
        </div>

        <!-- <div class="campo">
            <label class="titulo-campo"><strong>Passageiros</strong></label>

            @if (!PaginaViagens) {
                <select style="width: 230px; cursor: pointer; padding-right: -20px;" formControlName="passageiros" >
                    <option value="1">1 Adulto</option>
                    <option value="2">2 Adultos</option>
                    <option value="3">3 Adultos</option>
                    <option value="1-1">1 Adulto e uma criança</option>
                    <option value="1-2">1 Adulto e duas crianças</option>
                    <option value="2-1">2 Adultos e uma criança</option>
                    <option value="2-2">2 Adultos e duas crianças</option>
                </select>
            }
            @else {
                <select style="width: 220px; cursor: pointer; padding-right: -20px;" formControlName="passageiros" >
                    <option value="1">1 Adulto</option>
                    <option value="2">2 Adultos</option>
                    <option value="3">3 Adultos</option>
                    <option value="1-1">1 Adulto e uma criança</option>
                    <option value="1-2">1 Adulto e duas crianças</option>
                    <option value="2-1">2 Adultos e uma criança</option>
                    <option value="2-2">2 Adultos e duas crianças</option>
                </select>
            }
        </div> -->


        
        <div class="campo data-ida" >
            <div style="display: flex;">
                <label class="titulo-campo"><strong>Data de ida</strong></label> 

                @if(FormPesquisa.value.tipo_viagem == "IdaVolta") {
                  <label class="titulo-campo" style="margin-left: 60px;"><strong>Data de volta</strong></label>
                }
            </div>
            
            <div style="display: flex;">
            @if (FormPesquisa.value.tipo_viagem == "IdaVolta"){
                <input type="date"  formControlName="data_ida" style="padding-left: 10px; padding-right: 10px; width: 120px; cursor: text;"/>
                <input type='date'  formControlName="data_volta" style='padding-left: 10px; padding-right: 10px; width: 125px; cursor: text;'>
                <!-- margin-left: -75px;  -->
            }
            @else { <!--ida-->
                <input type="date" formControlName="data_ida" style="width: 260px; padding-left: 15px; padding-right: 20px; cursor: text;"/>
            }
            </div>  
        </div>

        <div class="campo hora-ida" style="display: flex;">
            <div style="display: flex;">
                <label class="titulo-campo" ><strong>Hora de ida</strong></label>
                @if (FormPesquisa.value.tipo_viagem == "IdaVolta") {
                    <label class="titulo-campo" style="margin-left: 60px;"><strong>Hora de volta</strong></label>
                }
            </div>

            <div style="display: flex;">
                @if (FormPesquisa.value.tipo_viagem == "IdaVolta"){
                    <input type="time" formControlName="hora_ida" style="width: 120px; padding-left: 10px; padding-right: 10px; cursor: text;"/>
                    <input type="time" formControlName="hora_volta" style="width: 123px; padding-left: 10px; padding-right: 10px; cursor: text;"/>
                     <!-- margin-left: -90px; -->
                }
                @else {
                    <input type="time" formControlName="hora_ida" style="width: 240px; padding-left: 15px; padding-right: 25px; cursor: text;"/>
                }   
            </div>
        </div>

        @if (!PaginaViagens){
            <ng-container *ngTemplateOutlet="ButaoProcurar"></ng-container>
        }
    </div>
</form>

<ng-template #ButaoProcurar>
    <input type="submit" value="Procurar" class="botaoTransicao botaoProcurar"
    [style]="PaginaViagens ? 'height:30px' : '' " [disabled]="FormPesquisa.invalid" />
</ng-template>