<topbar></topbar>
<div class='caixaViagens'>
  <pesquisa-viagens></pesquisa-viagens>
</div>

<br><br><br>

@if (ViagensVolta){
    <div class="row">
        <button class="botaoTransicao botoes" style="margin-left: 29%;" (click)="IdaSelecionada=true">Ida ({{ViagensIda.length}})</button>
        <button class="botaoTransicao botoes" style="margin-left: 1%;" (click)="IdaSelecionada=false">Volta ({{ViagensVolta.length}})</button>
    </div>
}

@let Viagens = IdaSelecionada ? ViagensIda : ViagensVolta;
@for (Viagem of Viagens; track $index){
    <div class="alinhamento">
        <div class='caixaBilhete'>
            <div>
                <a><strong>{{Viagem.local_partida}} ⮕ {{Viagem.local_chegada}}</strong></a>
                <h2 style=>{{Viagem.preco | currency:'EUR'}}</h2>
            </div>

            <label style="margin-bottom: 30px;">Hora de partida: {{Viagem.hora_partida}}</label><br><br>
            
            <div style="margin-top: 20px; display: flex;">
                <button class='botaoTransicao verMais' (click)="abrirDetalhes(Viagem)">Ver mais detalhes</button><br>

                <button class='btCarrinho' (click)="adicionarCarrinho(Viagem)" >
                    <img src="img/carrinhoAdicionarA.png" style="height: 30px; width: 30;">
                </button>
            </div>
        </div>
    </div>
}<br><br>


@if (ModalAdicionarBilhete){
    <carregamento></carregamento>
    <div class='modal'>
        <div class='modal-content animate'>
            <div style="display: flex; justify-content: space-between;">
                <h3 style="margin-top: 13px; margin-right: 25px;">Bilhete adicionado ao carrinho!</h3>
                <span (click)="ModalAdicionarBilhete=false" class='close'>&times;</span>
            </div>
        </div>
    </div>
}

@if (ModalVerDetalhes) {
    <carregamento></carregamento>
    <div class="detalhes">
        <div class="detalhes-conteudo">
            <div>
                <h3>Detalhes da Viagem</h3><br>

                <span (click)="ModalVerDetalhes=false" class='close' style="margin-right: -50px;">&times;</span>
                <br><br>
            </div>

            <p><a>📍</a><strong> Origem:</strong> {{ViagemSelecionada.local_partida}}</p>
            <p><a>📍</a><strong> Destino:</strong> {{ViagemSelecionada.local_chegada}}</p>
            <p><a>🗓️</a><strong> Data:</strong> {{ViagemSelecionada.data | date:'dd/MM/YYYY'}}</p>
            <p><a>🕑</a><strong> Hora de partida:</strong> {{ViagemSelecionada.hora_partida}}</p>
            <p><a>⌛</a><strong> Duração estimada:</strong> {{ViagemSelecionada.duracao_estimada}} </p>
            <p><a>🛣️</a><strong> Distância:</strong> {{ViagemSelecionada.distancia_km}} km</p>
            <p><a>💲</a><strong> Preço:</strong> {{ViagemSelecionada.preco | currency:'EUR'}}</p>
            <p><a>🚍</a><strong> Autocarro Nº:</strong> {{ViagemSelecionada.idautocarro}} </p>

        </div>
    </div>
}

<butao-voltar></butao-voltar>
<!-- <footer-componente></footer-componente> -->