
<topbar></topbar>

<div class="row">
    <div class="column left">
    
        <h1 class="titulo">Meu carrinho</h1>

        <h2 style="text-align: center; margin-bottom:70px; color: rgb(5, 5, 96);">Bilhetes</h2>

       

        <div class='caixaBilhete'>
            <div style='display:inline-flex; justify-items:center; text-align: center'>
                <br>
                <a><strong>".$local_partida."  ⮕ " . $resultado['local'] . "</strong></a>
                <h2 style='margin-left:500px; margin-top:-4px; float: right; display:flex'>00,00€</h2>
            </div><br>

            <a style='margin-right:360px;'>Hora de partida: ".$resultado["hora_partida"]."</a>

            
            <button class='btCarrinho'></button>
            <!--<button class='botaoTransicao verMais'></button>-->
        </div>
    </div>

    <div class="column right">
        <h2 style="text-align: center; margin-top: 140px; margin-bottom:70px; color: rgb(5, 5, 96);">Resumo da compra:</h2>

        <div class="caixaTotal">
            <label><strong>Total a pagar: </strong></label>

            <hr style='border: 1px solid black; margin-left: 0px; margin-right: 10px; margin-top: 20px; width: 380px;'><br>

            <button id="openModal" class="botaoFinalizar botaoTransicao" (click)="ModalMetodo = true">Finalizar compra</button> <!--para ao clicar, aparecer o formulario de pagamento-->
        </div>

    </div>
</div>

@if (ModalMetodo == true || TipoPagamentoCartao == true || TipoPagamentoMB == true || ModalCodigo == true){
    <div class="modalFUNDO"> 

        @if (ModalMetodo) {
            <!-- CAIXA DE PAGAMENTO ---------------------------------------------------------------> 
            <div  id="modalMetodo" class="modal-payment">
                <button class="fechar" id="fecharModal" (click)="ModalMetodo = false">✖</button>
                <h2 style="color: rgb(0, 0, 150); margin-bottom: 50px; margin-left: 20px;">Método de pagamento</h2>

                <div class="caixaEscolha" style="display: flex;">
                    <button id="btnCartao" class="btnEscolha" style="display:flex; padding-top: 10px;" (click)="TipoPagamentoCartao = true">
                        <label style="margin-right:120px; margin-top:6px; cursor:pointer;">Cartão de crédito</label>
                        <img src="img/cartoes.png" style="height: 25px; width: 25;">
                    </button>
                </div>
                <div class="caixaEscolha" style="margin-bottom:30px;">
                    <button id="btnMbway" class="btnEscolha"  style="display:flex; padding-top: 10px;" (click)="TipoPagamentoMB = true">
                        <label style="margin-right:180px; margin-top:6px; cursor:pointer;">MB WAY</label>
                        <img src="img/mbway.png" style="height: 25px; width: 25;">
                    </button>
                </div>
            </div>
        }

        @if (TipoPagamentoCartao) {
             <!-- OPCAO DO CARTAO DE CREDITO -->
            <div id="modalCartao" class="modalTipoPagamentoCartao">
                <!--<?php //var_dump($_SESSION["metodoPagamento"])?>-->
                <button class="fechar" id="fecharModal2" (click)="TipoPagamentoCartao = false">✖</button><br>
    
                <h2 style="color: rgb(0, 0, 150); margin-bottom: 50px; margin-left: 20px;">Pagamento com cartão de crédito</h2>
    
                <form id="formCartao" action="inserirCartao.php" method="POST">
                    <div style="margin-left:20px;">
                        <div class="form-group">
                            <input type="text" id="nome_Cartao" name="nome_Cartao"  placeholder=" " required class="input-grande" (input)="permitirApenasLetras($event)"/>
                            <label>Nome do titular do cartão</label>
                        </div>
    
                        <div class="form-group">
                            <input type="tel" id="numero_cartao" name="numero_cartao"  placeholder=" " maxlength="19" required class="input-grande" 
                            (input)="formatarCartao($event)"/>
                            <label>Número do cartão</label>
                        </div>
    
                        <div style="display: flex;">
                            <div class="form-group">
                                <input type="text" id="validade" name="validade"  placeholder=" " required class="input-pequeno"
                                       (input)="formatarValidade($event)"/>
                                <label>Validade</label>
                            </div> 
    
                            <div class="form-group" style="margin-left:-70px; margin-right:0px;">
                                <input type="password" id="cvv" name="ccv"  placeholder=" "minlength="3" maxlength="3" class="input-pequeno" required
                                       (keypress)="permitirApenasNumeros($event)"/>
                                <label>CVV</label>
                            </div>
    
                            <img src="img/visamastercard.png" style="height:40px; width: 45px; margin-right:20px; margin-left:-70px;">
                        </div>
    
                        <div style="display: flex; margin-bottom: 30px;">
                            <input type="checkbox" style="margin-right: 10px; cursor:pointer;" id="guardarCartao">
                            <label>Guardar os dados do cartão.</label>
                        </div>
    
                        <button type="submit" id="openCode" class="btnContinuarPay botaoTransicao">Continuar</button>
                    </div>               
                </form>
            </div>
        }

        @else if (TipoPagamentoMB) {
            <!-- OPCAO DO MBWAY -->
            <div id="modalMbway" class="modalTipoPagamentoMB">
                <button class="fechar" id="fecharModal3" (click)="TipoPagamentoMB = false">✖</button>

                <h2 style="color: rgb(0, 0, 150); margin-bottom: 50px; margin-left: 20px;">Pagamento com MB WAY</h2>

                <div style="margin-left:20px;">
                    <div class="form-group">
                        <input type="tel" id="telefone" name="telefone" maxlength="9" placeholder=" " style="padding-left:20px;" required class="input-grande" 
                            (keypress)="permitirApenasNumeros($event)" [value]="ServicoAutenticacao.Utilizador()?.telefone"/>
                        <label>Número de telemóvel</label>
                    </div>

                    <label>Caso este não seja o teu número associado ao MBWAY, altere-o.</label><br><br><br>

                    <button id="openCode" class="btnContinuarPay botaoTransicao">Continuar</button>
                </div>
            </div>
        }


        @if (ModalCodigo) {
            <!-- MODAL DE CODIGO DE CONFIRMACAO -->
            <div id='modalCodigo' class='modalSlideRight'>
                <div class='modalCodigo'>
                    <button class="fechar" id="fecharModal4" (click)="ModalCodigo = false">✖</button><br><br>
        
                    <h2 style="color: rgb(0, 0, 150); margin-bottom: 30px; margin-left: 20px; text-align: center;">Insira o código de 6 dígitos</h2>
                    
                  
        
                    <p style="margin-left:20px; text-align:center;">Insira o código de verificação que foi enviado para '<?= htmlspecialchars($registo["email"]) ?>'</p>
        
                    <div class='container'>
                        <form action='verificar_codigo.php' method='POST'>
                            <input type='tel' class='codigo' maxlength='6' id='codigo' name='codigo' required><br>
                            <div class='container' style='margin-bottom: 15px;'>
                                <button type='submit' class='botaoVerificar botaoTransicao'><strong>Verificar</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        }
    </div>
}




<script>
    // modal metodo
    const btnAbrir = document.getElementById('openModal'); 
    const modal = document.getElementById('modalMetodo');
    const btnFechar1 = document.getElementById('fecharModal');

    // modal cartao
    const modalCartao = document.getElementById('modalCartao');
    const btnCartao = document.getElementById('btnCartao');
    const btnFechar2 = document.getElementById('fecharModal2');
    const btnContinuar = document.getElementById('openCode');
    const formCartao = document.getElementById('formCartao');

    // modal mbway
    const modalMbway = document.getElementById('modalMbway');
    const btnMbway = document.getElementById('btnMbway');
    const btnFechar3 = document.getElementById('fecharModal3');

    // modal codigo
    const modalCode = document.getElementById('modalCodigo');
    const btnFechar4 = document.getElementById('fecharModal4');

    const fundoModal = document.querySelector('.modalFUNDO');

    

    // função para remover o método de pagamento da sessão
    function removerMetodoSessao() {
        fetch('removerMetodo.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'removerMetodo=true'
        })
        .then(response => response.text())
        .then(data => {
            console.log("Método removido da sessão:", data);
        });
    }


    // verificar se a checkbox de guardar os dados do cartao está selecionada
    function verificarCheckbox(event) {
        event.preventDefault(); 

        const checkbox = document.getElementById("guardarCartao");

        if (checkbox.checked) {
            // redireciona para a página que insere o cartão e depois volta com query string
            window.location.href = "inserirCartao.php?voltarPara=carrinho.php&abrirModal=modalCodigo";
        } else {
            // só avança para o próximo modal (código)
            fecharModal(modalCartao);
            modalCode.style.display = 'block';
            modalCode.classList.add("show");
        }
    }
</script>


<!-- <footer-componente></footer-componente> -->