
<topbar></topbar>

<div class="row">
    <div class="column left">
    
        <h1 class="titulo">Meu carrinho</h1>

        <!-- {{ModalRemoverBilhete}} -->

        <h2 style="text-align: center; margin-bottom:50px; color: rgb(5, 5, 96);">Bilhetes</h2>

        @if (Carrinho.length == 0) {
            <h3 style="text-align: center; margin-top: 100px; color: rgb(5, 5, 96);">O seu carrinho está vazio!</h3>
        } 
        
        @else {
            <h4 style="text-align: center; margin-top: 20px;">Caso deseje remover algum bilhete, basta clicar no botão de excluir!</h4><br>
        }

       
        @for (Bilhete of Carrinho ; track $index){
            <div class='caixaBilhete'>
                <div>
                    <a><strong>{{Bilhete.local_partida}} ⮕ {{Bilhete.local_chegada}}</strong></a>
                    <h2>{{Bilhete.preco | currency:'EUR'}}</h2>
                </div>
    
                <div>
                    <button class='botaoTransicao botoes' (click)="abrirDetalhes(Bilhete)">Detalhes</button><br>
                    
                    <button class='btCarrinho' (click)="removerBilhete(Bilhete.id_produto) ">
                        <img src="img/carrinhoExcluirA.png" style="height: 25px; width: 25;">
                    </button>
                </div>
            </div>
        }        
    </div>


    @if (ModalRemoverBilhete){
        <carregamento></carregamento>
        <div class='modal'>
            <div class='modal-content animate'>
                <div style="display: flex; justify-content: space-between;">
                    <h3 style="margin-top: 13px; margin-right: 25px;">Bilhete removido com sucesso!</h3>
                    <span (click)="ModalRemoverBilhete=false" class='close'>&times;</span>
                </div>
            </div>
        </div>
    }
    

    <!--CAIXA DE RESUMO DA COMPRA-->
    <div class="column right">
        <h2 style="text-align: center; margin-top: 120px; margin-bottom:50px; color: rgb(5, 5, 96);">Resumo da compra:</h2>

        <div class="caixaTotal">
            <div style="display: flex; margin-top: 10px; padding-bottom: 5%; justify-content: space-between;">
                <strong>Total a pagar: </strong>
                <strong >{{Total | currency:"EUR"}}</strong>
            </div>

            <hr><br>
            
            @if (Carrinho.length == 0) {
                <button class="botaoFinalizarDisable botaoTransicao" (click)="ModalMetodo = false" [disabled]="Carrinho.length == 0">
                    Finalizar compra
                </button> 
            }

            @else {
                <button  class="botaoFinalizar botaoTransicao" (click)="ModalMetodo = true">
                    Finalizar compra
                </button> 
            }
        </div>
    </div>
</div>

@if (ModalMetodo == true || TipoPagamentoCartao == true || TipoPagamentoMB == true || ModalCodigo == true){
    <div class="modalFUNDO"> 

        @if (ModalMetodo) {
            <!-- CAIXA DE PAGAMENTO ---------------------------------------------------------------> 
            <div class="modal-payment">
                <button class="fechar" (click)="ModalMetodo = false">✖</button>
                <h2 style="color: rgb(0, 0, 150); margin-bottom: 50px; margin-left: 20px;">Método de pagamento</h2>

                <div class="caixaEscolha" style="display: flex;">
                    <button class="btnEscolha" style="display:flex; padding-top: 10px;" (click)="TipoPagamentoCartao = true">
                        <label style="margin-right:120px; margin-top:6px; cursor:pointer;">Cartão de crédito</label>
                        <img src="img/cartoes.png" style="height: 25px; width: 25;">
                    </button>
                </div>
                <div class="caixaEscolha" style="margin-bottom:30px;">
                    <button class="btnEscolha"  style="display:flex; padding-top: 10px;" (click)="TipoPagamentoMB = true">
                        <label style="margin-right:180px; margin-top:6px; cursor:pointer;">MB WAY</label>
                        <img src="img/mbway.png" style="height: 25px; width: 25;">
                    </button>
                </div>
            </div>
        }

        @if (TipoPagamentoCartao) {
             <!-- OPCAO DO CARTAO DE CREDITO -->
            <div class="modalTipoPagamentoCartao">
                <!--<?php //var_dump($_SESSION["metodoPagamento"])?>-->
                <button class="fechar" (click)="TipoPagamentoCartao = false">✖</button><br>
    
                <h2 style="color: rgb(0, 0, 150); margin-bottom: 50px; margin-left: 20px;">Pagamento com cartão de crédito</h2>
    
                <form [formGroup]="FormCartao" (ngSubmit)="SubmeterModal()">
                    <div style="margin-left:20px;">
                        <div class="form-group">
                            <input type="text" formControlName="nome_cartao"  placeholder=" " class="input-grande" (input)="permitirApenasLetras($event)"/>
                            <label>Nome do titular do cartão</label>
                        </div>
    
                        <div class="form-group">
                            <input type="tel" formControlName="numero_cartao"  placeholder=" " maxlength="19" class="input-grande" 
                            (input)="formatarCartao($event)"/>
                            <label>Número do cartão</label>
                        </div>
    
                        <div style="display: flex;">
                            <div class="form-group">
                                <input type="text" formControlName="validade"  placeholder=" " class="input-pequeno"
                                       (input)="formatarValidade($event)"/>
                                <label>Validade</label>
                            </div> 
    
                            <div class="form-group" style="margin-left:-70px; margin-right:0px;">
                                <input type="password" formControlName="cvv" maxlength="3" class="input-pequeno"
                                       (keypress)="permitirApenasNumeros($event)"/>
                                <label>CVV</label>
                            </div>
    
                            <img src="img/visamastercard.png" style="height:40px; width: 45px; margin-right:20px; margin-left:-70px;">
                        </div>
    
                        <div style="display: flex; margin-bottom: 30px;">
                            <input type="checkbox" style="margin-right: 10px; cursor:pointer;" formControlName="guardarCartao">
                            <label>Guardar os dados do cartão.</label>
                        </div>
    
                        <button [class.disabled]="FormCartao.invalid" [disabled]="FormCartao.invalid" class="btnContinuarPay botaoTransicao" (click)="ModalCodigo = true">Continuar</button>
                    </div>               
                </form>
            </div>
        }

        @else if (TipoPagamentoMB) {
            <!-- OPCAO DO MBWAY -->
            <div class="modalTipoPagamentoMB">
                <button class="fechar" (click)="TipoPagamentoMB = false">✖</button>

                <h2 style="color: rgb(0, 0, 150); margin-bottom: 50px; margin-left: 20px;">Pagamento com MB WAY</h2>

                <div style="margin-left:20px;">
                    <div class="form-group">
                        <input type="tel" name="telefone" maxlength="9" placeholder=" " style="padding-left:20px;" class="input-grande" 
                            (keypress)="permitirApenasNumeros($event)" [value]="ServicoAutenticacao.Utilizador()?.telefone"/>
                        <label>Número de telemóvel</label>
                    </div>

                    <label>Caso este não seja o teu número associado ao MBWAY, altere-o.</label><br><br><br>

                    <button class="btnContinuarPay botaoTransicao" (click)="ModalCodigo = true">Continuar</button>
                </div>
            </div>
        }


        @if (ModalCodigo) {
            
            <carregamento [Visivel]="AMandarEmail"></carregamento>

            <!--MODAL DE CODIGO DE CONFIRMACAO-->
            
            <div class='modalCodigo' style="align-items: center; justify-content: center;">
                <button class="fechar" (click)="ModalCodigo = false">✖</button><br><br>
    
                <h2 style="color: rgb(0, 0, 150); margin-bottom: 30px; margin-left: 20px; text-align: center;">Insira o código de 6 dígitos</h2>
    
                <p style="margin-left:20px; text-align:center; margin-bottom: 70 px;">Insira o código de verificação que foi enviado para 
                    <strong>{{ServicoAutenticacao.Utilizador()?.email}}</strong>
                </p><br>
    
                <div class='container'>
                    <form [formGroup]="FormCodigo"> 
                        <input type='tel' formControlName="codigo" class='codigo' maxlength='6' (keypress)="permitirApenasNumeros($event)">

                        <div class='container' style='margin-bottom: 15px; justify-content: center;'>
                            <button type='submit' class='btnContinuarPay botaoTransicao' (click)="realizarCompra()" >
                                <strong>
                                Verificar
                            </strong></button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
}

<!-- @if (ModalVerDetalhes) {
    <carregamento></carregamento>
    <detalhes></detalhes>

} -->

@if (ModalVerDetalhes) {
    <carregamento></carregamento>
    <div class="detalhes">
        <div class="detalhes-conteudo">
            <div>
                <h3>Detalhes da Viagem</h3><br>

                <span (click)="ModalVerDetalhes=false" class='close' style="margin-right: -50px;">&times;</span>
                <br><br>
            </div>

            <p><a>📍</a><strong> Origem:</strong> {{ViagemSelecionada.local_partida}}</p>
            <p><a>📍</a><strong> Destino:</strong> {{ViagemSelecionada.local_chegada}}</p>
            <p><a>🗓️</a><strong> Data:</strong> {{ViagemSelecionada.data | date:'dd/MM/YYYY'}}</p>
            <p><a>🕑</a><strong> Hora de partida:</strong> {{ViagemSelecionada.hora_partida}}</p>
            <p><a>⌛</a><strong> Duração estimada:</strong></p>
            <p><a>🛣️</a><strong> Distância:</strong> 176,98 km</p>
            <p><a>💲</a><strong> Preço:</strong> {{ViagemSelecionada.preco | currency:'EUR'}}</p>
            <p><a>🚍</a><strong> Autocarro Nº:</strong> 4</p>

        </div>
    </div>
}
<!-- <footer-componente></footer-componente> -->