body {
  margin: 0;
  padding: 0%;
}

.titulo {
  color: rgb(5, 5, 96);
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* div dos bilhetes */
.caixaBilhete {
  width: 900px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  border: 2px solid rgb(9, 9, 140);

  padding-left: 30px;
  padding-right: 5px;
  padding-top: 30px;
  /*padding-bottom: 20px;*/
  
  transition: 0.4s;
  margin-bottom: 15px;
}

/*.caixaBilhete:hover {
  /*transform: scale(1.05);
}*/

/* animação de cor com os botoes*/
.botaoTransicao {
  display: inline-block;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* botao de excluir bilhetes do carrinho */
.btCarrinho {
  content: '';
  display: inline-block;
  border: none;
  border-color: transparent;
  outline: none;
  position: absolute;
  background-size: contain;
  background-color: transparent;
  width: 28px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  margin-left:300px;
}

.btCarrinho:hover {
  transform: scale(1.1);
}



.column {
  background-color: transparent;
}
  
.left {
  width: 70%;
  margin: 0%;
}

.right {
  width: 40%;
  margin: 0%;
}

.row{
  display: flex;
  margin: 0%;
}









/* caixa sobre o preco total */
.caixaTotal {
  background-color: rgb(231, 231, 231);
  width: 400px;
  height: 300px;
  border-radius: 10px;

  margin-left: 70px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

/* botao para finalizar a compra */
.botaoFinalizar {
  color: rgb(0, 0, 0);
  background-color: rgb(231, 231, 231);
  height: 35px;
  width: 200px;
  border-radius: 10px;
  border-color: rgb(4, 4, 77);

  align-items: center;
}

.botaoFinalizar:hover {   
  background-color: rgb(9, 9, 127);
  color: white;
  cursor:pointer;
}















/* caixa de pagamento -------------------------------------------------------------------------------------- */
/* fundo do modal */
.modalFUNDO {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


/* modal metodo */
.modal-payment {
  position: absolute;

  z-index: 2; /* acima do fundo */
  background-color: #fff;
  height: 270px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 25px 20px;
  padding-bottom: 30px;
  transform: translateY(-50px); /* Iniciar acima */
  animation: slideIn 0.5s forwards; /* Animação de deslizamento */
}

/* modal dos metodos de pagamento (cartao de credito e mbway)*/
.modalTipoPagamentoCartao {
  position: absolute;
  
  z-index: 2; /* acima do fundo */
  background-color: #fff;
  height: 430px;
  width: 380px;
  margin: 5% auto;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 25px 20px;
  padding-bottom: 30px;
  animation: slideFromRight 0.5s forwards; /* Animação de deslizamento */
}

.modalTipoPagamentoMB {
  position: absolute;
  
  z-index: 2; /* acima do fundo */
  background-color: #fff;
  height: 300px;
  width: 380px;
  margin: 5% auto;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 25px 20px;
  padding-bottom: 30px;
  animation: slideFromRight 0.5s forwards; /* Animação de deslizamento */
}

/* modal do envio de codigo */
.modalCodigo {
  position: relative;

  z-index: 2; /* acima do fundo */
  background-color: #fff;
  height: 350px;
  width: 380px;
  margin: 5% auto;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 25px 20px;
  padding-bottom: 30px;
  padding-right:30px;
  animation: slideFromRight 0.5s forwards; /* Animação de deslizamento */
}


/* animacao para o modalmetodo*/
@keyframes slideIn {
  0% {
      transform: translateY(-50px); /* Iniciar acima */
      opacity: 0;
  }
  100% {
      transform: translateY(0); /* Ficar no lugar */
      opacity: 1;
  }
}

/* animacao para os modals dos metodos de pagamento (aparicao) */
@keyframes slideFromRight {
  0% {
      transform: translateX(100%); /* Começa fora da tela à direita */
      opacity: 0;
  }
  100% {
      transform: translateX(0); /* Termina no lugar */
      opacity: 1;
  }
}

/* Animação para o modal que vai da direita para a esquerda */
@keyframes slideLeft {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}



#modalMetodo {
  z-index: 1000;
}

#modalCartao, #modalMbway {
  z-index: 1001;
}

#modalCodigo {
  z-index: 1002;
}



/* Aplica a animação --------------------------------------------------------- */
#modalMetodo.show {
  animation: slideIn 0.5s ease forwards;
  display: block !important;
  opacity: 1;
}

#modalMetodo.back {
  animation: slideInLeft 0.4s forwards;
  display: block !important;
  opacity: 1;
}


/* modal cartao */
#modalCartao.show {
  animation: slideFromRight 0.5s ease forwards;
  display: block !important;
  opacity: 2;
}

#modalCartao.outshow {
  animation: slideOutRight 0.4s forwards;
  display: block !important;
  opacity: 2;
}


/* modal mbway */
#modalMbway.show {
  animation: slideFromRight 0.5s ease forwards;
  display: block !important;
  opacity: 1;
}

#modalMbway.outshow {
  animation: slideOutRight 0.4s forwards;
  display: block !important;
  opacity: 1;
}


/* modal codigo */
#modalCodigo.show {
  animation: slideFromRight 0.5s ease forwards;
  display: block !important;
  opacity: 2;
}



/* botao para fechar os modals (X) */
.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.fechar:hover {
  color: red;
  display: inline-block;
  transition-duration: 0.2s;
  cursor: pointer;
}


.caixaEscolha {
  cursor: pointer;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre radio e texto */

  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.caixaEscolha:hover {
  background:rgb(240, 240, 240);
}

input[type="radio"] {
  accent-color: rgb(6, 6, 124); /* muda esta cor como quiseres */
  transition: all 0.3s ease;
}



/* caixa de texto para os campos de insercao de pagamento */
.form-group {
  position: relative;
  margin-bottom: 30px;
  width: 300px;
  }

  .form-group input{
  padding: 14px 10px;
  padding-left: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 14px;
  background: none;
  outline: none;  
  }

  .form-group label {
  position: absolute;
  top: 14px;
  left: 12px;
  color: #666;
  /*background: #f8f8f8;*/
  padding: 0 4px;
  font-size: 14px;
  pointer-events: none;
  transition: all 0.2s ease;
  }

  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label{
  top: -8px;
  left: 10px;
  font-size: 12px;
  color: #000;
  background:rgb(255, 255, 255);
  }

  .form-group select:invalid {
  color: gray;
  }

  .input-pequeno {
  width: 100px;
  }

  .input-medio {
  width: 200px;
  }

  .input-grande {
  width: 300px;
  }


/* botao para escolher o metodo de pagamento*/
.btnEscolha {
  margin-top:3px; 
  cursor: pointer; 
  background-color: transparent; 
  border:none; width: 300px; 
  height:50px; 
  text-align: left;
}


/* botao de continuar a fazer o pagamento */
.btnContinuarPay {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 200px;
  border-radius: 10px;
  border-color: rgb(4, 4, 77);

  align-items: center;
  margin-left: 70px;
}

.btnContinuarPay:hover {   
  background-color: rgb(9, 9, 127);
  color: white;
  cursor:pointer;
}




/* caixa de texto para inserir o codigo do pagamento */
.container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.codigo {
  border: 2px solid rgba(230, 227, 255, 0.664);
  border-radius: 4px;
  width: 50%;
  height: 40px;
  padding: 8px;
  outline: none;

  margin-left:80px;
  font-size: 30px;
  text-align: center;
}

.botaoVerificar {
  background-color: rgb(4, 4, 77);
  color: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.botaoVerificar:hover{
background-color: rgb(9, 9, 127);
}