<form [formGroup]="FormEditar" (ngSubmit)="SubmeterForm()" enctype="multipart/form-data" [ngClass]="{'bloqueado': IsUtilizadorProtegidoNome && IsUtilizadorProtegidoEmail}">
    <div class='box2 row'>
        <div class='column left'>
            <h2 style="margin-bottom: 25px;">Minha conta
                <span *ngIf="IsUtilizadorProtegidoNome && IsUtilizadorProtegidoEmail" style="font-size: 14px; color: red; margin-left: 10px;">
                    (O administrador principal não é alterável)
                </span>
            </h2>

            <label>Nome: </label><br>
            <input type='text' class='info campoTexto caixa' formControlName='nome' [value]='Utilizador()?.nome' (input)="permitirApenasLetras($event)">
            <br><br>

            <label>NIF: </label><br>
            <input type='tel' class='info campoTexto caixa' maxlength='9' [value]='Utilizador()?.nif' disabled 
                    style="cursor:not-allowed;" ><br><br>

            <label>Data de nascimento: </label><br>
            <input type='date' class='info campoTexto caixa' formControlName='nascimento' [value]='Utilizador()?.nascimento' (keypress)="permitirApenasNumeros($event)">
            <br><br>

            <label>Telemóvel: </label><br>
            <input type='tel' class='info campoTexto caixa' formControlName='telefone' pattern='9[0-9]{8}'
                title='O número de telemóvel deve conter 9 números e deve iniciar com 9.' maxlength='9'
                [value]='Utilizador()?.telefone' (keypress)="permitirApenasNumeros($event)">
            <br><br>

            <label>Localidade: </label><br>
            <input type='text' class='info campoTexto caixa' formControlName='localidade' [value]='Utilizador()?.localidade' (input)="permitirApenasLetras($event)">
            <br>

            <button type='submit' style='margin-top:30px;' class='botaoEditar' [disabled]=" IsUtilizadorProtegidoNome || !VerificarMudancas()">
                {{ VerificarMudancas() ? 'Salvar' : 'Salvo' }}
            </button> <!--|| !FormEditar.dirty"-->
        </div>

        <div class='column right'>

            <h3 class="foto-perfil">Foto de perfil</h3>

            <div class="bordas" [ngClass]="{'bloquear-botoes-imagem': IsUtilizadorProtegidoNome && IsUtilizadorProtegidoEmail}">
                <div class="alignment">
                    <img class="imagemUti" [src]="ImageSelecionada || URL_Imagens" onerror="this.src='img/default.png'">

                    <!-- <div style="display: flex; flex-direction: column; align-items: center;"> -->
                        
                        <label for="file" class="file-label">Carregar imagem</label>
                        <input type="file" accept="image/*" class="file-input" formControlName="foto" (change)="ImagemMudada($event)"> 

                        <label class="file-label" style="margin-top: 10px;">Selecionar imagem
                            <input type="button" class="file-input" (click)="SelecionarImagem = true">
                        </label>
                    <!-- </div> -->
                    <br>
                </div>
            </div>

            @if (SelecionarImagem) { 
                <seletor-imagens (imagemSelecionada)="PreverImagem($event)" (close)="SelecionarImagem = false"></seletor-imagens>
            }
        </div>
    </div>
</form>


@if (ModalFotoSucesso){
    <carregamento></carregamento>
    <div class='modalSucessoFundo'>
        <div class='modalSucesso animate'>
            <div style="display: flex; justify-content: space-between;">
                <h3 style="margin-left: 30px; margin-top: 13px; margin-right: 5px;">Imagem alterada com sucesso!</h3>
                <span (click)="FecharModalSucesso()" class='fecharSu'>&times;</span>
            </div>
            <br><br>
        </div>
    </div>
}


@if (ModalSucessoVisivel){
    <carregamento></carregamento>
    <div class='modalSucessoFundo'>
        <div class='modalSucesso animate'>
            <div style="display: flex; justify-content: space-between;">
                <h3 style="margin-left: 30px; margin-top: 13px; margin-right: 5px;">Dados alterados com sucesso!</h3>
                <span (click)="FecharModalSucesso()" class='fecharSu'>&times;</span>
            </div>
            <br><br>
        </div>
    </div>
}
