google-map{
    border-radius: inherit;
}

::ng-deep .map-container{
    border-radius: inherit;
}

.marcador{
    cursor: pointer;
    /* background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    padding: 4px 8px;
    border-radius: 4px; */
    font-weight: bold;
    color: white;
    font-size: 14px;

    &.selecionado{
        background-color: #006a3aed !important;
        color: white !important;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

.distancia {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 999;
}
