google-map{
    border-radius: inherit;
}

::ng-deep .map-container{
    border-radius: inherit;
}

.marcador{
    cursor: pointer;
    background: white;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);

    &.selecionado{
        opacity: 0.5;
        background-color: aqua !important;
    }
}