.pagina {
    margin-left: 40px;
}


.row{
  display: flex;
  margin: 0%;
}




/* titulo "compras realizadas"*/
.titulo {
  color: rgb(5, 5, 99);
  margin-top: 40px;
  margin-bottom: 60px;
}



.botao-transferir {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background: none;
    display: inline-block;
    border-color: transparent;
}


.tabela-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}


.tabela {
  width: 1100px;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 50px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.tabela thead {
  background-color:  rgba(3, 3, 59);
  color: white;
}

.tabela th {
  text-align: center;
}

.tabela th,
.tabela td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela tbody tr:hover {
  /*background-color: rgba(36, 33, 125, 0.514);*/
  background-color: #f0f0f0;
}

.tabela td:nth-child(4) {
  font-weight: bold;
}

/* Canto superior esquerdo e direito do cabeçalho */
.tabela thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.tabela thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* Canto inferior esquerdo e direito da última linha */
.tabela tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.tabela tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}





/* select de filtro */

.select-filtro {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 8px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  color: #333;
  transition: all 0.3s ease;
}

.select-filtro:hover {
  border-color: rgb(12, 12, 195);
  background-color: #f9fff9;
}