/* CSS global, aplicado a todas as paginas e componentes */

body {
  margin: 0;
  font-family: Calibri, Helvetica, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}


.icon-butao{
  width: 30px; /* Largura da imagem */
  height: 30px;
  object-fit: cover;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}